
<!DOCTYPE html>
<html>
<head>
    <%- include head.ejs %>
</head>

<body class="skin-blue">

<%- include header.ejs %>

<!-- Main content -->
<section class="content">

<%- body %>

</section><!-- /.content -->
</aside>
</div>

<%- include footer.ejs %>

</body>
</html>